<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339753750988-aoih5grssn4nb1qatr3nspmeid6dt0ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339753750988-aoih5grssn4nb1qatr3nspmeid6dt0ts</string>
	<key>API_KEY</key>
	<string>AIzaSyDo1nj-QfPH-EGaF5LC5c0w_xl04lQVjVc</string>
	<key>GCM_SENDER_ID</key>
	<string>339753750988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>learning-instantclone</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-instantclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339753750988:ios:dc7ce14f686023cca78d69</string>
</dict>
</plist>